In [29]:
from SPARQLWrapper import SPARQLWrapper, JSON

In [30]:
sparql = SPARQLWrapper2("http://dbpedia.org/sparql")

In [31]:
# Retrieve how many
sparql.setQuery("""
    PREFIX foaf: <http://xmlns.com/foaf/0.1/>
    SELECT (COUNT(?name) as ?count)
    WHERE { ?person foaf:name ?name . }
""")

for result in sparql.query().bindings:
    print('Totally there are %s exist in the database' % (result["count"].value))

Totally there are 4146581 exist in the database

In [32]:
# Take a preview
sparql.setQuery("""
    PREFIX foaf: <http://xmlns.com/foaf/0.1/>
    SELECT ?name
    WHERE {
        ?person foaf:name ?name .
    }
    ORDER BY ?name
    LIMIT 5
""")

for result in sparql.query().bindings:
    print('%s: %s' % (result["name"].lang, result["name"].value))

en: !
en: !!!
en: !!!
en: !!Destroy-Oh-Boy!!
en: !Action Pact!

In [36]:
# Limit and Offset

for i in range(3):
    print("========================")
    limit = 10
    offset = i*limit
    
#     print(limit, offset)
    
    query = """
        PREFIX foaf: <http://xmlns.com/foaf/0.1/>
        SELECT ?name
        WHERE {
            ?person foaf:name ?name .
        }
        ORDER BY ?name
        LIMIT %s
        OFFSET %s
    """

    query = query % (limit, offset)
    
#     print(query)
    
    sparql.setQuery(query)
    
    for result in sparql.query().bindings:
        print('%s: %s' % (result["name"].lang, result["name"].value))

========================
en: !
en: !!!
en: !!!
en: !!Destroy-Oh-Boy!!
en: !Action Pact!
en: !Arriba! La Pachanga
en: !HERO
en: !Hero
en: !Kung
en: !Kwa/tse
========================
en: !Oka Tokat
en: !PAUS3
en: !T.O.O.H.!
en: !Wanted
en: !Women Art Revolution
en: !llmind
en: !ערוץ הופ
en: "
en: "
en: " Kelmės Kražantė"
========================
en: " Schneider
en: " The Sergeant"
en: ""Deraniyagala"" Divisional Secretariat
en: ""Fliegender Teppich“"(Flying carpet)
en: "'''Lois Kills Stewie
en: "'Ajde, kroči"
en: "'Feuer"
en: "'I Belong"
en: "'Sevince"
en: "'The Bad Old Days"

In [34]:
input_name = "peter"

query = """
    PREFIX foaf: <http://xmlns.com/foaf/0.1/>
    SELECT (count(?name) as ?count)
    WHERE {
       ?resource foaf:name ?name .
       ?resource rdf:type schema:Person .
       FILTER (
          contains(lcase(str(?name)), "%s")
       )
    }
"""

query = query % input_name

print(query)

sparql.setQuery(query)

for result in sparql.query().bindings:
    print("========================")
    print('%s => %s' % (input_name, result["count"].value))

    PREFIX foaf: <http://xmlns.com/foaf/0.1/>
    SELECT (count(?name) as ?count)
    WHERE {
       ?resource foaf:name ?name .
       ?resource rdf:type schema:Person .
       FILTER (
          contains(lcase(str(?name)), "peter")
       )
    }

========================
peter => 9681

## Some Hopefully Useful Queries

#### This works but a bit slow

``` sql
SELECT ?resource ?name WHERE {
    ?resource foaf:name ?name .
    ?resource rdf:type schema:Person .
    FILTER (
      contains(lcase(str(?name)), "peter")
    )
}
ORDER BY (?name)
LIMIT 1

    resource	name
    :Gio_Black_Peter [http]	""Gio Black Peter""@en
    :Peter_Michael_Chenaparampil [http]	"'''Peter Michael Chenaparampil"@en
    :Alroy_Peters [http]	"'Alroy Peters"@en
    :Bam_Bam_(radio_presenter) [http]	"'BAM BAM' (Peter Poulton)"@en
    :Péter_Czvitkovics [http]	"(Peter Cvitković)"@en
    :Mbiyu_Koinange [http]	"(Peter) Mbiyu Koinange"@en
    :A._Peter_Dewey [http]	"A. Peter Dewey"@en
    :Aage_Høy-Petersen [http]	"Aage Høy-Petersen"@en
    :Aaron_Dawson [http]	"Aaron Peter Dawson"@en
    :Aaron_Peterson [http]	"Aaron Peterson"@en
```


#### Regex, emmm...

``` sql
SELECT ?resource ?title ?match strlen(str(?title)) as ?lenTitle strlen(str(?match)) as ?lenMatch

WHERE {
    ?resource foaf:name ?title .
    ?resource rdf:type schema:Movie .
    ?resource dbo:director ?director .
    bind( replace(LCASE(CONCAT('x',?title)), "^x(die)*(?:.*?(hard))*(?:.*?(with))*.*$", "$1$2$3") as ?match ) 
}


    resource	title	match	lenTitle	lenMatch
    :Die_Hard_with_a_Vengeance [http]	"Die Hard with a Vengeance"@en	"diehardwith"	25	11
    :Die_Hard [http]	"Die Hard"@en	"diehard"	8	7
    :Die_Hard_2 [http]	"Die Hard 2"@en	"diehard"	10	7
    :Lily_Festival [http]	"百合祭 (Yurisai)"@en	"risai)"	13	6
    :Villa_Zone [http]	"Вилна зона"@en	" зона"	10	5

```

#### Count is also pretty handy

```sql
SELECT (count(?name) as ?count)
WHERE {
   ?resource foaf:name ?name .
   ?resource rdf:type schema:Person .
   FILTER (
      contains(lcase(str(?name)), "peter")
   )
}
```